<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords"
        content=" best cancer hospital in hyderabad ,chemotherapy cost in hyderabad,best cancer doctor in hyderabad,best oncology hospital in hyderabad,top 10 cancer hospitals in hyderabad,
best cancer hospital in hyderabad india best cancer specialist doctor in hyderabad,cancer doctor in hyderabad" />
    <meta name="description" id="doctordesc"
        content="Kaizen Oncology is renowned as one of the best Cancer Hospital in Hyderabad. we are serving patients from all over India with good patient . " />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title id="doctortitle" data-url=<%=doctorinfo[0].urlname%> >Kaizen</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel='stylesheet' href='../css/owl.carousel.min.css'>
    <link rel='stylesheet' href='../css/slick.css'>
    <link rel="stylesheet" href="../css/jquery.datetimepicker.min.css">
    <script src="../js/jquery-2.1.1.min.js"></script>
<script>
let urlname = $('#doctortitle').attr('data-url');
if(urlname == 'dr-sudha-sinha-best-medical-oncology' ){ 
$('#doctortitle').html('Dr.Sudha Sinha - Medical Oncologist in Hyderabad')
$('#doctordesc').attr('content','Dr.Sudha Sinha is the Senior Medical Oncologist in Hyderabad with 15 years of experience. Her seniority is reflected in her advanced and highly successful consultations with patients.')
}else if(urlname == 'dr-sainath-bhethanabhotla-best-medical-oncology' ){
$('#doctortitle').html('Dr. Sainath Bhethanabhotla - Best Medical Oncology in Hyderabad')
$('#doctordesc').attr('content','Dr. Sainath Bhethanabhotla, a senior Medical Consultant Oncologist with rich experience in Medical Oncology and Paediatric Hemato Oncology. His awards and publications reflect his expertise.')
}else if(urlname == 'dr-deepak-koppaka-best-medical-oncologist'){
$('#doctortitle').html('Dr. Deepak Koppaka - Best Medical Oncologist  in Hyderabad')
$('#doctordesc').attr('content','Dr. Deepak Koppaka, consultant Medical Oncologist is an accomplished and skilled doctor with in-depth exposure, an outstanding academic record with a great inclination toward research.')
}else if(urlname == 'dr-santosh-kumar-chellapuram-best-medical-pediatric-hematology-oncology'){
$('#doctortitle').html('Dr. Santosh Chellapuram - Medical Oncologists | Pediatric Hemato Oncologist in Hyderabad')
$('#doctordesc').attr('content','Dr. Santosh Chellapuram, consultant medical oncologist and Pediatric Haemato oncologist in hyderabad with an exceptional academic record from AIIMS has rich research experience proven in his publications and projects.')
}else if(urlname == 'dr-satish-pawar-best-surgical-oncology'){
$('#doctortitle').html('Dr. Satish Pawar - Surgical Oncologist | Robotic Surgeon in Hyderabad')
$('#doctordesc').attr('content','Dr. Satish Pawar, senior consultant and Chief of Surgical Oncology and best Robotic Surgeon in Hyderabad has surgical expertise in Cancer of Head and neck, genitourinary, GI, Gynec-oncology, Skin and soft tissue, and breast oncology.')
}else if(urlname == 'dr-vipin-goel-best-surgical-oncology'){
$('#doctortitle').html('Dr. Vipin Goel - Best Surgical Oncology in Hyderabad')
$('#doctordesc').attr('content','Dr. Vipin Goel, a senior consultant, surgical oncology in hyderabad, Laparoscopic Surgeon who has surgical expertise in cancers of Head and neck, genitourinary, GI, Gynec, Skin and soft tissue, and breast oncology.')
}else if(urlname == 'dr-y-yugandhar-reddy-best-surgical-oncologist'){
$('#doctortitle').html('Dr. Y.Yugandar Reddy - Best Surgical Oncologist in Hyderabad')
$('#doctordesc').attr('content','Dr. Y.Yugandar Reddy, is the best surgical oncologist in Hyderabad, and an efficient laparoscopic surgeon, with a decade of experience and expertise in many complicated and complex types of surgeries.')
}
else if(urlname == 'dr-boleneni-naren-best-surgical-oncology'){
$('#doctortitle').html('Dr. Naren Bollineni - Top surgical oncologist in hyderabad')
$('#doctordesc').attr('content','Dr. Naren Bollineni is the top surgical oncologist in hyderabad is an expert in 3-D Laparoscopy & Fluorescence imaging, Cytoreductive surgeries, HIPEC, and musculoskeletal oncological resections.')
}
else if(urlname == 'dr-pragna-sagar-rapole-best-radiation-oncologist'){
$('#doctortitle').html('Dr. PragnaSagar Rapole - Best Radiation Oncologist in hyderabad')
$('#doctordesc').attr('content','Dr. PragnaSagar Rapole is the best radiation oncologist in hyderabad with exceptional expertise in the latest radiation oncology techniques like 3D-CRT, IMRT, IGRT, SRS, SBRT, and brachytherapy for cancers.')
}
else if(urlname == 'dr-sarath-chandra-reddy-top-radiation-oncology'){
$('#doctortitle').html('Dr. Sarath Chandra Reddy - Top Radiation Oncology in hyderabad')
$('#doctordesc').attr('content','Dr. Sarath Chandra Reddy is the Top Radiation Oncology in hyderabad, with multilingual expertise inclines his special interest in Image-guided Radiotherapy (IGRT) and Stereotactic Body Radiotherapy (SBRT).')
}
else if(urlname == 'dr-syed-touseef-ahmed-best-radiation-oncology'){
$('#doctortitle').html('Dr. Syed Touseef Ahmed - Radiation Oncology in hyderabad')
$('#doctordesc').attr('content','Dr. Syed Touseef Ahmed, consultant Radiation Oncology in Hyderabad, is very proficient in radiotherapy techniques including 3DCRT, IMRT, IGRT, VMAT, Linac-based SBRT and SRS and brachytherapy.')
}
else if(urlname == 'dr-anukonda-moti-venkata-raja-narendra-best-hematologist'){
$('#doctortitle').html('Dr. A.M.V.R. Narendra - best hematologist in hyderabad')
$('#doctordesc').attr('content','Dr. A.M.V.R. Narendra is the best hematologist in hyderabad with 10+ years and specialized in treating blood disorders like Myelodysplastic syndrome, Acute myeloid leukemia, and more.')
}
else if(urlname == 'dr-revati-Iyer-best-pediatric-oncology'){
$('#doctortitle').html('best pediatric oncology in hyderabad - Dr. Revati Iyer')
$('#doctordesc').attr('content','Dr. Revati Iyer, Consultant Paediatric Oncology, has expertise in Paediatric Haemato-Oncology, with presentations in National Level paediatric-haematology conferences and also has various National Publications.')
}
else if(urlname == 'dr-avinash-chaitanya-best-head-and-neck-oncologist'){
$('#doctortitle').html('Dr. Avinash Chaitanya - Best Head and Neck Oncologist in Hyderabad')
$('#doctordesc').attr('content','Dr. Avinash Chaitanya is the  best head and neck oncologist in hyderabad, he is a team player with a fellowship in Head and Neck Surgical Oncology from the prestigious Basavatarakam Indo-Americal Cancer Hospital and Research Centre.')
}
else if(urlname == 'dr-himakanth-best-orthopedic-oncology'){
$('#doctortitle').html('Dr. Himakanth Lingala - best Orthopedic Oncology in hyderabad')
$('#doctordesc').attr('content','Dr. Himakanth Lingala, is the best Orthopedic Oncology in hyderabady, with 10+ years of experience in musculoskeletal (MSK) oncology and complex limb salvage surgeries for bone and soft tissue tumours.')
}

</script>
</head>

<body>
    <span id="backToTop"></span>
    <header>
        <div class="container flex">
            <div id="logo">
                <a href="../index"><img src="../assets/images/logo.svg" alt=""></a>
            </div>
            <nav>
                <ul>
                    <li><a href="../index">Home</a></li>
                    <li><a href="../about">About Us</a></li>
                    <li><a href="../services.html">Services</a></li>
                    <li><a href="../team" class="active">Our Team</a></li>
                    <li><a href="../aboutcancer.html">About Cancer</a></li>
                    <li><a href="../blogs">Blog</a></li>
                    <li><a href="../contact">Contact Us</a></li>
                </ul>
            <div class="mobileMenuAddress">
                    <h3>Our Locations</h3>
                    <div class="mobileLocations">
                        <h4>Care Hospitals - Hi-tech City </h4>
                        <p>Old Mumbai Hwy, near Cyberabad Police Commissionerate, Jayabheri Pine Valley, HITEC City, Hyderabad, Telangana 500032</p>
                        <h4>Care Hospitals - Banjara Hills</h4>
                        <p>Rd Number 1, Prem Nagar,<br> Banjara Hills, Hyderabad, Telangana 500034</p>
                        <h4>Care Hospitals - Nampally</h4>
                        <p>Exhibition Grounds, Road, Nampally, Hyderabad, Telangana 500001</p>
                        <h4>Mahavir Hospitals - Masab Tank</h4>
                        <p class="mb-0">10-1-1, Utkoor - Mogdumpur Rd, AC Guards, Lakdikapul, Hyderabad, Telangana 500004</p>
                    </div>
                </div>
            </nav>
            <div class="nav-icon"><span></span><span></span><span></span></div>
            <div class="overlay"></div>
        </div>
    </header>

    <div class="banner">
        <div class="bannerImage" style="background-image: url('/uploads/<%= doctorinfo[0].doctorbanner  %>');">
        </div>
        <div class="bannerForm">
            <div class="container">
                <form class="innerForm" action="/submitappointment" method="post" autocomplete='off'>
                    <a href="tel:9154143858"><img src="../assets/images/phone-white.svg" alt="">+91 9154143858/59/60</a>
                    <h5>Book an Appointment</h5>
                    <ul>
 <input type="text" name="preferredDoctor" hidden value="<%= doctorinfo[0]._id %>"  />
                        <li>
                            <input type="text" name="patientName" placeholder="Name"  />
                        </li>
                        <li> 
                            <input type="text" name="patientMobile" placeholder="Phone"  />
                        </li>
                        <li>
                            <input type="text" placeholder="Date" name="appointmentDate" id="inputDate" />
                        </li>
<li>
                            <input type="text" placeholder="Time" name="appointmentTime" id="timepicker" />
<div class="errordatetime"></div>
                        </li>

                    </ul>
                    <button class="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="../index">Home</a></li> 
                <li><a href="../team">Our Team</a></li>
                <li class="active">Dr. <%= doctorinfo[0].firstName %> <%= doctorinfo[0].lastName %></li>
            </ul>
        </div>
    </div>
    <div id="home">
        <div class="container">
            <div class="doctorInfo space40">
                <div class="aboutScroll">
                    <div class="about-tabs-list">
                        <!-- <div class="mobileDrop">
                            <a class="mobileScroll"></a>
                        </div> -->
                        <ul>
                            <li><a href="#home">About</a></li>
                            <li><a href="#qualification">Qualification</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#photoGallery">Photo Gallery</a></li>
                            <li><a href="#news">News</a></li>
                            <li><a href="#backToTop">Back To Top</a></li>
                        </ul>
                    </div>
                    <div class="doctorInfoData" data-url=<%=doctorinfo[0].urlname%>>
                    
                        <h1>Dr. <%= doctorinfo[0].firstName %> <%= doctorinfo[0].lastName %></h1>
                        <p><%= doctorinfo[0].designation %></p>
<textarea id="text" hidden readonly="" style="height:100%;border: 0;font-size: 14px;font-family: 'Poppins';padding: 0;resize:none"><%= doctorinfo[0].doctorabout %>
</textarea> 
<div id="changedtext"></div>
                    
                        <p>Email: <a href="mailto:<%= doctorinfo[0].doctorEmail %>"><%= doctorinfo[0].doctorEmail %></a></p>
                        <p>Phone Number: <a href="tel:<%= doctorinfo[0].doctorMobile %>"><%= doctorinfo[0].doctorMobile %></a></p>
                    </div>
                </div>
                <div class="weOfferLeft">
                    <img src="/uploads/<%= doctorinfo[0].doc_profile %>" alt="">
                    <h4>Dr. <%= doctorinfo[0].firstName %> <%= doctorinfo[0].lastName %> <br><span><%= doctorinfo[0].designation %></span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="newAppointment space40" style="background-image: url(../assets/images/getInTouchBanner.png);">
        <div class="container">
            <h2 class="mb-10 mt-0">New Patient Appointments</h2>
            <p class="mt-0">Scheduling a visit is easy. Click below or call us to get started.</p>
            <div class="newAppointmentDetails">
                <a href="../appointment" class="button">Get an Appointment</a>
                <ul>
                    <li>
                        <img src="../assets/images/clockIcon.svg" alt="">
                        <p>Monday - Friday <span>9:00 AM – 5:30 PM</span></p>
                    </li>
                    <li>
                        <img src="../assets/images/locationIcon.svg" alt="">
                        <p>Old Mumbai Hwy, near Cyberabad Police Commissionerate, Jayabheri Pine Valley, HITEC City, Hyderabad, Telangana 500032</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="qualification">
        <div class="container">
            <div class="whyKaien space40">
                <h2>My Qualifications</h2>
                <ul>
                    <% for(let i =0; i < doctorinfo[0].education.length; i++){%>
                        
                    <li><%= doctorinfo[0].education[i].degree %>, <%= doctorinfo[0].education[i].institution %></li>

                        <% } %>
                    
                </ul>

                <h3>Experience</h3>
                <ul>
                    <% for(let i =0; i < doctorinfo[0].experience.length; i++){%>
                        
                        <li><%= doctorinfo[0].experience[i].jobposition %>, <%= doctorinfo[0].experience[i].company %>,<%= doctorinfo[0].experience[i].location %></li>
    
                            <% } %>
                    
                </ul>
<p id="blogdesc"><%= doctorinfo[0].extrainfo %></p>
                 <!-- <h3>Research and Publications</h3>
                 <ul>
                     <li>Avinash S, Gupta R, Mohindroo NK, Thakur JS, Azad R. Effect of Radiotherapy on Thyroid and Parathyroid Gland Functions. Scholars Journal of Applied Medical Sciences, 2017; 5(4D): 1499-1503</li>
                     <li>Gupta R, Chaitanya A, Mohindroo NK, Azad R. A rare case of Post auricular Fistula communicating with the Parotid Duct. Int J Otorhinolaryngol Clin 2016;8(3):109-110</li>
                     <li>Thakur JS, Chaitanya A, Minhas R S, Azad R K, Sharma D R, Mohindroo N K. Killian's polyp mimicking malignant tumor. Ann Maxillofac Surg 2015; 5:281-3</li>
                     <li>Avinash S, Yasmeen N Md, Rashmi K, Benign chondroid syringoma - A rare disfiguring tumour of the nose. J Otorhinolaryngol Allied Sci 2018;1(1):3-5</li>
                 </ul>  -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="commentSection space40">
            <div class="text-center">
                <h2>Patient Testimonials</h2> 
            </div>
            <div class="outer">
                <div id="big">
                  
                        <% for(let i=0; i < reviews.length; i++) {%>
                            <div class="item">
                                <p><%= reviews[i].text %>
                                </p>
                            </div>
                            
                            <%  } %>
                    
                </div>
                <div id="thumbs">
                    <% for(let i=0; i < reviews.length; i++) {%>

                        <div class="item" style="overflow:hidden;">
                            <a>
                                <span class="icon"><img src="<%= reviews[i].image %>" alt=""></span>
                                <span class="heading" style="white-space: nowrap;"><%= reviews[i].name %><small>Customer</small><small>rating : <%= reviews[i].rating %></small></span> 
                            </a>
                        </div>
                        <%  } %>
                </div>
            </div> 
        </div>
    </div>

    <div class="getinTouch" style="background-image: url(../assets/images/getInTouchBanner.png);"> 
        <div class="container">
            <div>

                <p>Get a Second Opinion</p>
                <h2>Make your right decision... Your Health Matters
</h2>
            </div>
            <a href="../appointment" class="button">Get in touch</a>
        </div>
    </div>

    <div class="serviceDepartBg space40" id="services">
        <div class="container">
            <div class="weOfferContent">
                <h2>Services </h2>
                <p> </p>
                <ul>
<% for(let i=0; i < doctorinfo[0].service.length; i++){ %>


                    <li>
                        <a href="#">
                            <span class="icon"><img src="/uploads/<%= doctorinfo[0].service[i].service_url %>" alt=""></span>
                            <span class="title"><%= doctorinfo[0].service[i].service_name %></span>
                            <span class="data"><%= doctorinfo[0].service[i].service_desc %></span>
                        </a>
                        </li>
<% } %>
                </ul>
            </div>
        </div>
    </div>

    <div class="successCase space40" id="blog" style="background-image: url('../assets/images/successBg.png');">
        <div class="container">
            <div class="hospitalBlogMain">
                <div class="successHeader">
                    <h2>Blogs</h2>
                    <p class="mt-0">Here are some informative blog articles for the education purpose of our patients, prospective patients, website visitors.</p>
                    <ul>
                       <!-- //<li class="active"><a href="javascript:void(0)" data-index="year2018">2018</a></li>
                        //<li><a href="javascript:void(0)" data-index="year2019">2019</a></li>
                       // <li><a href="javascript:void(0)" data-index="year2020">2020</a></li>
                       // <li><a href="javascript:void(0)" data-index="year2021">2021</a></li> -->
                    </ul>
                </div>
                <div class="successTabContent active year2018">
                    <div class="hospitalBlog owl-carousel owl-theme">
                        <% for(let i=0; i< blogs.length; i++) { %>
                            <% if(blogs[i].type == 0){%>
        <a href="/viewblog?blogid=<%=blogs[i]._id %>&page=1">
                        <div class="hospitabBlogContent">
                            <div class="blogImage"><img style="height: 180px;" src="/uploads/<%=blogs[i].displayimg %>" alt=""></div>
                            <h4><%= blogs[i].displayname %></h4>
                            <p class="blogdesc"><%= JSON.parse(blogs[i].description) %></p>
                            <div class="blogOptions">
        <% let a = blogs[i].createdAt + "" %>
                                <span><%= a.slice(4,15) %></span>
                                <ul>
                                   <!-- <li><a href=""><img src="assets/images/commentIcon.png" alt=""><small>12</small></a> -->
                                    </li>
                                    <li><img src="assets/images/readMoreIcon.png" alt="">Read More</li>
                                </ul>
                            </div>
                        </div>
</a>
                        <% } }%>
        

                    </div>
                </div>
                <!-- <div class="successTabContent year2019">
                    <div class="hospitalBlog owl-carousel owl-theme">
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>2019 Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="successTabContent year2020">
                    <div class="hospitalBlog owl-carousel owl-theme">
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>2020 Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="successTabContent year2021">
                    <div class="hospitalBlog owl-carousel owl-theme">
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>2021 Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hospitabBlogContent">
                            <div class="blogImage"> <img src="../assets/images/successImg1.png" alt=""></div>
                            <h4>Causes/ Risk Factors</h4>
                            <p>MCSE boot camps have its supporters and its detractors. Some people do not understand why
                                you
                                should have to spend money on boot camp when you...</p>
                            <div class="blogOptions">
                                <span>19 Jan 2015</span>
                                <ul>
                                    <li><a href=""><img src="../assets/images/commentIcon.png"
                                                alt=""><small>12</small></a>
                                    </li>
                                    <li><a href=""><img src="../assets/images/readMoreIcon.png" alt="">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="container" id="photoGallery">
        <div class="gallerySliderMain space40">
            <div class="text-center">
                <h2 class="mt-0">Photo Gallery</h2>
                <!-- <p>Photo Gallery</p> -->
                <div class="gallerySlider gallery-carousel owl-carousel owl-theme">
                    <% for(let i=0; i < galleryimages.length; i++){ %> 
                        <a class="galleryItem html5lightbox" data-fullscreenmode="true" data-transition="slide"
                            data-group="mygroup" href="/uploads/<%= galleryimages[i].imgsrc %>"
                            data-thumbnail="/uploads/<%= galleryimages[i].imgsrc %>" data-slide-index="<%= i %>">
                            <img src="/uploads/<%= galleryimages[i].imgsrc %>" alt="">
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="newsSectionMain aboutNews space40" id="news">
        <div class="container">
            <div class="newsSection">
                <div class="text-center">
                    <h2>Regular News</h2>
                    <p>Get to know the information regarding our healthcare aspects to be able to get to better informed decisions. ..</p>
                </div>
                <div class="newsSectionCaouusel owl-carousel owl-theme">
<% for(let i=0; i< blogs.length; i++) { %>
<% if(blogs[i].type == 1) {%>
                    <div class="hospitabBlogContent">
                        <div class="blogImage"> <iframe width="100%" height="180px" src="<%= blogs[i].videosrc %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4><%= blogs[i].displayname %></h4>
                        <p class="blogdesc"><%= JSON.parse(blogs[i].description) %></p>
                        <div class="blogOptions">
                            <% let a = blogs[i].createdAt + "" %>
                        <span><%= a.slice(4,15) %></span> 
                            <ul>
                                <li><a href=""><img src="assets/images/commentIcon.png" alt=""><small>12</small></a>
                                </li>
                                <li><a class="" target="_blank" href="<%= blogs[i].videosrc %>">play</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% } }%>  
                </div>
            </div>
        </div>
    </div>

    <div class="getinTouch getReady" style="background-image: url(../assets/images/getInTouchBanner.png);">
        <div class="container">
            <div>
                <p>Get ready</p>
                <h2>Our Newsletter</h2>
            </div>
            <form class="subscription" method="post" action="/addtomailinglist"> 
                <input type="text" name="email" placeholder="Enter Your Mail Address Here">
                <button class="button">Subscribe</button>
            
        </form>        </div>
    </div>
    <footer class="space40">
        <div class="container">
            <div class="footerLogo"><a href="../index"><img src="../assets/images/logo.svg" alt=""></a></div>
            <div class="footerRight">
                <div class="footerlinks">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="../index">Home</a></li>
                        <li><a href="../about">About Us</a></li>
                        <li><a href="../services.html">Services</a></li>
                        <li><a href="../aboutcancer.html">About Cancer</a></li>
                        <li><a href="../blogs">Blog</a></li>
                        <li><a href="../contact">Contacts Us</a></li>
                    </ul>
                </div>
                <div class="footerlinks">
                    <h4>CONTACT</h4>
                    <ul>
                        <li><a href="mailto:Support@kaizenoncology.com">Support@kaizenoncology.com</a></li>
                        <li><a href="tel:9154143858">+91 915 414 3858/59/ 60</a></li>
                    </ul>
                </div>
                <div class="footerlinks addressBlock">
                    <h4>ADDRESS</h4>
                    <p>Hi-tech City | Banjara Hills | Nampally | Masab Tank</p>
                    <div class="socialMedia">
                        <label class="socialLabel">Follow Us :</label>
                        <ul>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCo_QHdCV1JFp_vQPYLMqY2A"><img
                                        src="../assets/images/youtubeIcon.svg" alt=""></a></li>
                            <li><a target="_blank"
                                    href="https://www.facebook.com/kaizenoncologynetwork/?ref=pages_you_manage"><img
                                        src="../assets/images/facebookIcon.svg" alt=""></a></li>
                            <li><a target="_blank" href="https://twitter.com/KaizenOncology"><img
                                        src="../assets/images/twitterIcon.svg" alt=""></a></li>
                            <li><a target="_blank"
                                    href="https://www.linkedin.com/company/kaizen-oncology/?viewAsMember=true"><img
                                        src="../assets/images/linkedinIcon.svg" alt=""></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/kaizenoncologynetwork/"><img
                                        src="../assets/images/instgaramIcon.svg" alt=""></a></li>
                            <li><a target="_blank" href="https://wa.me/919154143858"><img
                                src="../assets/images/whatsapp.svg" alt=""></a></li>
                             <!-- <li><a target="_blank" href="https://blog.kaizenoncology.com/"><img
                                        src="../assets/images/blogIcon.svg" alt=""></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyRights">
        <p>Copyright <span>©</span> <span id="yearUpdate">2022</span> kaizen rights reserved.</p>
    </div>
    <a href="javascript:void(0)" class="back-to-top" onclick="$('html,body').animate({scrollTop:0},500);"></a>
    <!-- <span class="extraMobileSpace extrainnerSpace"></span> -->

    <script src="../js/global.js"></script>
    <script src='../js/owl.carousel.min.js'></script>
    <script src="../js/owlGalleryslider.js"></script>
    <script src="../js/slick.js"></script>
    <script src="../js/stickey.js"></script>
<script src="../js/moment.js"></script>
    <script src="../js/html5lightbox.js"></script>
    <script src="../js/jquery.datetimepicker.full.min.js"></script>


    <script>
        //======== Success Tabs
        $('.successHeader ul li a').click(function () {
            var tar = '.' + $(this).attr('data-index');
            $(tar).show();
            $(tar).siblings().hide();
            $(this).closest('li').addClass('active');
            $(this).closest('li').siblings().removeClass('active');
        });

        //======== Banner Slider
        $('.hospitalBlog').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                767: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });

        $('.newsSectionCaouusel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            autoplay: true,
            slideSpeed: 300,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                767: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });

        $('#big').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '#thumbs',
            autoplay: true,
            autoplayHoverPause: true,
            adaptiveHeight: true
        });
        $('#thumbs').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '#big',
            dots: false,
            arrows: false,
            focusOnSelect: true,
            centerMode: true,
            responsive: [{
                breakpoint: 600,
                settings: {
                    slidesToShow: 1
                }
            }]
        });


        if ($(window).width() > 1024) {
            setInterval(function () {
                var x = $('.banner').innerHeight();
                var y = $('header').innerHeight();

                var z = x + y;
                console.log(z);


                $(window).scroll(function () {
                    if ($(this).scrollTop() > z) {
                        $('.about-tabs-list').addClass('sticky').css({
                            'top': y
                        })
                    } else {
                        $('.about-tabs-list').removeClass('sticky').css({
                            'top': '30px'
                        });
                    }
                })
            }, 1000);
        }

        $('.mobileDrop').click(function () {
            $('.about-tabs-list').toggleClass('openSmoothScroll')
        });

        //========== Gallery Carousel
        var el = $('.gallery-carousel');
    </script>


    <script>
        $(document).ready(function () {

            $(document).on("scroll", onScroll);

            // smooth scroll

            $('.about-tabs-list ul li a').on('click', function (event) {
                $(document).off("scroll");
                var $anchor = $(this);
                $('.about-tabs-list ul li a').each(function () {
                    $(this).parent().removeClass('active');
                })
                $anchor.parent().addClass('active');
                var htx = $('header').innerHeight();
                $('html, body').stop().animate({
                    scrollTop: $($anchor.attr('href')).offset().top + 2 - htx
                }, 1000, 'swing', function () {

                    $(document).on("scroll", onScroll);
                });

                event.preventDefault();
            });

            onScroll()
            // adding active link while page scrolling
            function onScroll(event) {

                var hty = $('header').innerHeight();
                var scrollPos = $(document).scrollTop() + hty;
                $(' .about-tabs-list ul li a').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));
                    if (refElement.position().top <= scrollPos && refElement.position().top + refElement
                        .height() > scrollPos) {
                        $('.about-tabs-list ul li').removeClass("active");
                        currLink.parent().addClass("active");
                    } else {
                        currLink.parent().removeClass("active");
                    }
                });
            }
            //============ Gallery Light Box
            var html5lightbox_options = {
                closeonoverlay: false,
                showplaybutton: false
            };
        });
        //======== Date and time
       // $('#dateTimeCalendar').datetimepicker();

        //======== Date and Time
 
        // $('#timepicker').datetimepicker({value:'2015/04/15 05:06'});

        var d = new Date();
var strDate = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
var nstrDate = d.getFullYear() + "-" + (d.getMonth()+2) + "-" + d.getDate();
        $('#inputDate').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            formatDate: 'Y/m/d',
            minDate:strDate,
            maxDate: nstrDate,
onClose:function(){
let date =  $('#inputDate').val();
if(date != ''){
     $('#timepicker').datetimepicker({ 
	datepicker:false,
	step:30,
    format:'h:i a',
    formatTime:'h:i a',
    validateOnBlur: false,
allowTimes:[
  '09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30']

});
}
$('.xdsoft_timepicker.active').css({'display':'none'})
if($('.lds-ring').length == 0){
$('.xdsoft_timepicker.active').after('<div class="lds-ring"><div></div><div></div><div></div><div></div></div>')  
}
$('.lds-ring').css({'display':'block'})

}
        }); 
       $('#timepicker').click(function(){

let date =  $('#inputDate').val();
        var d = new Date();

$('.noslots').text('')


       if(date == ''){
        $('#timepicker').val('')
        $('.errordatetime').html('<p style="color:red"> please select date </p>')
        $('#timepicker').css('border','1px solid red')
       }else{
 
var settings = {
  "url": "https://admin.drvasuortho.com/getbookedslots",
  "method": "POST",
  "timeout": 0,
  "headers": {
    "Content-Type": "application/json",
     },
  "data": JSON.stringify({
    "date": date
  }),
};

$.ajax(settings).done(function (response) {
let bookedslots = response.bookedslots

let slots = []
let completeslots = ['09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30']

for(let i=0; i<bookedslots.length; i++ ){

let changeformat = moment(bookedslots[i], ["h:mm A"]).format("HH:mm");
completeslots = completeslots.filter(e => e !== changeformat);


}
var filterDate = moment().format('DD/MM/YYYY');
if(date == filterDate ){
let time = moment().format('H:mm');
let filteredslots = []
console.log(completeslots)
for(let i=0; i<completeslots.length; i++){
var beginningTime = moment(completeslots[i], 'H:mm');
var endTime = moment(time, 'H:mm');
console.log(beginningTime.isBefore(endTime));
let checktime = beginningTime.isBefore(endTime)

if(!checktime){

filteredslots.push(completeslots[i])
}
 

}
if(filteredslots.length == 0){
filteredslots.push('')
}


completeslots = filteredslots 


}
          $('.errordatetime').html('')
        $('#timepicker').css('border','1px solid #653F8C')
$('#timepicker').datetimepicker({ 
	datepicker:false,
	step:30,
    format:'h:i a',
    formatTime:'h:i a',
    validateOnBlur: false,
    allowTimes:completeslots
});
$('.xdsoft_timepicker.active').css({'display':'block'})
$('.lds-ring').css({'display':'none'})
if(completeslots[0] == ''){
$('.xdsoft_timepicker.active').css({'display':'none'})
$('.lds-ring').after('<p class="noslots">No slots available</p>')
}else{
$('.noslots').text('')
}


});





       }



})
 
    </script>
    <script>
        var decodeHTML = function (html) {
	var txt = document.createElement('textarea');
	txt.innerHTML = html;
	return txt.value;
};

let bloghtml =  $('#blogdesc').html()
var decoded = decodeHTML(bloghtml);

var $geek = $( "#blogdesc" ),
          html = jQuery.parseHTML( decoded ),
          nodeNames = [];
        $geek.html( html );
// $('#blogdesc').after(bloghtml)










    </script>
   <script>
     var decodeHTML = function (html) {
        var txt = document.createElement('textarea');
        txt.innerHTML = html;
        return txt.value;
    };
    $('.blogdesc').each(function(i,e){
        let bloghtml =  $(this).html()
    var decoded = decodeHTML(bloghtml);

    var $geek = $(this),
              html = jQuery.parseHTML( decoded ),
              nodeNames = [];
            $geek.html( html );
    })
   
    
  
    // $('#blogdesc').after(bloghtml)
var txt = $('#text').val()

  var txttostore = '<p>' + txt.replace(/\n/g, "</p>\n<p>") + '</p>';

$('#changedtext').html(txttostore)
    
    
        </script>

</body>

</html>